<div title="合作方明细" class="easyui-panel">
    <div fit="true">
        <div data-options="region:'north',split:false" style="height: 30px;padding:6px;" border="false">
        <!--高级查询部分-->
        <table border="0" cellspacing="0" cellpadding="0" width="100%">
            <tr>
                <th>开始时间:</th>
                <td>
                    <input class="easyui-datebox" type="text" name="start_time" id="start_time{{random_key}}" value="{{regdate}}"/>
                </td>
                <th>结束时间:</th>
                <td>
                    <input class="easyui-datebox"type="text" name="end_time" id="end_time{{random_key}}" value="{{regdate}}"/>
                </td>

                <th>通道:</th>
                <td>
                    <select id="channels{{random_key}}" name="channel" class="easyui-combobox">
                        <option selected="selected" value=''>--请选择--</option>
                        {%for channel in channels%}
                        <option value="{{channel.id}}">[{{channel.id}}]{{channel.cha_name}}</option>
                        {%endfor%}
                    </select>
                </td>
                <th>合作方:</th>
                <td>
                    <select id="spinfo{{random_key}}" name="sp" class="easyui-combobox">
                        <option selected="selected" value=''>--请选择--</option>
                        {% for sp_info in sp_info_list %}
                        <option value="{{sp_info.id}}">[{{sp_info.id}}]{{sp_info.name}}</option>
                        {% endfor %}
                    </select>
                </td>
                <!--<th>状态:</th>
                <td>
                    <select id="sp_id" class="easyui-combobox">
                        <option selected="selected" value=''>--请选择--</option>
                    </select>
                </td>-->
                <td align="right">
                    <a class="easyui-linkbutton" data-options="iconCls:'icon-search'" src="javascript:;" onclick="financial_cooperate_manager.queryData()" plain="true">查询</a>
                </td>
            </tr>
        </table>
        </div>
        <div data-options="region:'center',split:false"  border="false">
            <table id="financial_cooperate_list_dg" class="easyui-datagrid" style="width:100;height:100;position: absolute"
                    url="/financial/cooperate/detail/"
                    toolbar="#financial_cooperate_list_toolbar"
                    pagination="true"
                    rownumbers="true"
                    fitColumns="true"
                    singleSelect="true"
                    loadMsg='数据加载中,请稍候...'
                    pageSize="20">
                <thead>
                    <tr>
                        <th field="id" width="10">序号</th>
                        <th field="regdate" width="25">日期</th>
                        <th field="spname" width="50">合作方(SP)</th>
                        <th field="channel" width="40">通道名称</th>
                        <th field="price" width="40">资费（元）</th>
                        <th field="costprice" width="40">单价（元）</th>
                        <th field="count" width="30">条数</th>
                        <th field="total" width="30">金额（￥）</th>
                        <th field="charges_total" width="30">资费汇总（￥）</th>
                        <th field="status" width="40" data-options="formatter: financial_cooperate_manager.formatStatus">状态</th>
                    </tr>
                </thead>
            </table>
            <div id="financial_cooperate_list_toolbar">
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="financial_cooperate_manager.addFinancial()">添加</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="financial_cooperate_manager.update(1)">单价调整</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="financial_cooperate_manager.update(2)">对账</a>
            </div>
        </div>
    </div>
</div>
<div id="financial_cooperate_manager_dialog" class="easyui-dialog" data-options="iconCls:'icon-save'" style="width:350px;height:170px;padding:10px" closed="true" modal="true">
    <div style="padding:10px 60px 10px 60px">
        <form id="financial_cooperate_manager_form" method="post">
            <table cellpadding="5">
                <tr>
                    <td id="txt_lab{{random_key}}">调整后的价格：</td>
                    <td>
                        <input type="hidden" name="id" value="" id="tj_id{{random_key}}" />
                        <input type="hidden" name="types" value="" id="types{{random_key}}" />
                        <input class="easyui-textbox easyui-validatebox" type="text" 
                            name="values" data-options="required:true" style="width: 80px;"></input>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div style="text-align:center;padding:5px">
        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="financial_cooperate_manager.submitForm()">保存</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="financial_cooperate_manager.closeDialog()">取消</a>
    </div>
</div>

<div id="financial_cooperate_manager_add_dialog" class="easyui-dialog" data-options="iconCls:'icon-save'" style="width:350px;height:260px;padding:10px" closed="true" modal="true">
    <div style="padding:10px 30px 10px 30px">
        <form id="financial_cooperate_manager_add_form" method="post">
            <table cellpadding="5">
                <tr>
                    <td>合作方：</td>
                    <td>
                        <select name="sp_info" id="sp_info{{random_key}}" class="easyui-combobox" data-options="required:true" style="width: 150px">
                            <option selected="selected" value=''>--请选择--</option>
                            {% for sp_info in sp_info_list %}
                            <option value="{{sp_info.id}}">[{{sp_info.id}}]{{sp_info.name}}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>通道：</td>
                    <td>
                        <select name="channel_info" id="channel_info{{random_key}}" class="easyui-combobox" data-options="required:true" style="width: 150px">
                            <option selected="selected" value=''>--请选择--</option>
                            {%for channel in channels%}
                            <option value="{{channel.id}}">[{{channel.id}}]{{channel.cha_name}}</option>
                            {%endfor%}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>渠道：</td>
                    <td>
                        <select name="cp_info" id="cp_info{{random_key}}" class="easyui-combobox" data-options="required:true" style="width: 150px">
                            <option selected="selected" value=''>--请选择--</option>
                            {%for cp_info in cp_info_list%}
                            <option value="{{cp_info.id}}">[{{cp_info.id}}]{{cp_info.name}}</option>
                            {%endfor%}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>条数 ：</td>
                    <td>
                        <input name="count" class="easyui-textbox"  data-options="required:true"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div style="text-align:center;padding:5px">
        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="financial_cooperate_manager.submitAddForm()">保存</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="financial_cooperate_manager.closeAddDialog()">取消</a>
    </div>
</div>

<script>
var financial_cooperate_manager = {
    url: '/financial/cooperate/billing/',
    types: $("#types{{random_key}}"),
    tjID: $('#tj_id{{random_key}}'),
    dialog: $("#financial_cooperate_manager_dialog"),
    addDialog: $("#financial_cooperate_manager_add_dialog"),
    datagrid: $('#financial_cooperate_list_dg'),
    reloadData: function() {
        this.datagrid.datagrid('load')
    },
    formatStatus: function(val, row) {
        if (val) {
            return '<span class="icon icon-ok">&nbsp;</span>已对账'
        }else {
            return '<lable style="color:red"><span class="icon icon-error">&nbsp;</span>未对账</label>'
        }
    },
    addFinancial: function() {
        this.addDialog.dialog('open').dialog('setTitle','添加对账数据');
        $('#financial_cooperate_manager_add_form').form("clear");
    },
    closeAddDialog: function() {
        this.addDialog.dialog('close');
    },
    submitAddForm: function() {
        $('#financial_cooperate_manager_add_form').form('submit',{
            url: '/financial/cooperate/add/',
            onSubmit: function(){
                return $(this).form('validate');
            },
            success: function(result){
                if (result.errorMsg){
                    $.messager.show({
                        title: 'Error',
                        msg: result.errorMsg
                    });
                } else {
                    financial_cooperate_manager.closeAddDialog();
                    financial_cooperate_manager.reloadData();    // reload the user data
                }
            }
        });
    },
    queryData: function() {
      var req_data = {
        start_time: $("#start_time{{random_key}}").datetimebox("getValue"),
        end_time: $("#end_time{{random_key}}").datetimebox("getValue"),
        channel: $("#channels{{random_key}}").combobox("getValue"),
        sp: $("#spinfo{{random_key}}").combobox("getValue")
      };
      this.datagrid.datagrid('load', req_data)
    },
    submitForm: function() {
        $('#financial_cooperate_manager_form').form('submit',{
            url: this.url,
            onSubmit: function(){
                return $(this).form('validate');
            },
            success: function(result){
                if (result.errorMsg){
                    $.messager.show({
                        title: 'Error',
                        msg: result.errorMsg
                    });
                } else {
                    financial_cooperate_manager.closeDialog();
                    financial_cooperate_manager.reloadData();    // reload the user data
                }
            }
        });
    },
    closeDialog: function() {
        this.dialog.dialog('close');
        this.tjID.val('');
        this.types.val('');
    },
    update: function(types) {
        var row = this.datagrid.datagrid('getSelected');
        $('#financial_cooperate_manager_form').form('clear');
        if (row){
            this.tjID.val(row.id);
            this.types.val(types);
            var _txt_lab = $("#txt_lab{{random_key}}");
            switch(types) {
                case 1:
                    this.dialog.dialog('open').dialog('setTitle','单价调整');
                    _txt_lab.html("调整后的单价:");
                case 2:
                    this.dialog.dialog('open').dialog('setTitle','对账调整');
                    _txt_lab.html("对账后的条数:");
            }
        }
    }
}
</script>
