<div title="通道配置" class="easyui-panel" style="padding:10px 20px">
    <form id="set_channel_Form" method="post">
        <fieldset>
            <legend>基本信息</legend>
            <table>
                <tr>
                    <td width="80px">通道名称：</td>
                    <td>
                        <input
                            class="easyui-textbox easyui-validatebox"
                            type="text"
                            name="cha_name"
                            {% if channel_info %}value="{{channel_info.cha_name}}"{%endif%}
                            data-options="required:true">
                        </input>
                    </td>
                    <td>合作方：</td>
                    <td>
                        <select class="easyui-combobox" name="sp_info" {% if channel_info %}disable="disable" data-options="disable:true"{%endif%}>
                        <option selected="selected" value=''>--请选择--</option>
                        {%for sp_info in sp_list%}
                            {% if channel_info %}
                                {% if sp_info.id == channel_info.sp_info.id %}
                                    <option value="{{sp_info.id}}" selected="selected">[{{sp_info.id}}]-{{sp_info.name}}</option>
                                {% else %}
                                    <option value="{{sp_info.id}}">[{{sp_info.id}}]-{{sp_info.name}}</option>
                                {%endif%}
                            {% else %}
                                <option value="{{sp_info.id}}">[{{sp_info.id}}]-{{sp_info.name}}</option>
                            {% endif %}

                        {%endfor%}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>信息类型：</td>
                    <td>
                        <select class="easyui-combobox" name="busi">
                        {% for busi in busi_list %}
                          {% if channel_info %}
                            {% if channel_info.busi_info.id == busi.id %}
                            <option value="{{busi.id}}" selected="selected">[{{busi.id}}]-{{busi.name}}</option>
                            {% else %}
                            <option value="{{busi.id}}">[{{busi.id}}]-{{busi.name}}</option>
                            {% endif %}
                          {% else %}
                            <option value="{{busi.id}}">[{{busi.id}}]-{{busi.name}}</option>
                          {% endif%}
                        {% endfor %}
                        </select>
                    </td>
                    <td>指令模式：</td>
                    <td>
                        <label><input type="radio" name="command_type" value="1" {% if channel_info %}{%if channel_info.sx_type == 1 %}checked="checked"{%endif%}{%endif%}/>模糊</label>
                        <label><input type="radio" name="command_type" value="2" {% if channel_info %}{%if channel_info.sx_type == 2 %}checked="checked"{%endif%}{%endif%}/>双精确</label>
                    </td>
                </tr>
                <tr>
                    <td>当前状态：</td>
                    <td>
                        <label><input type="radio" name="status_type" value="1" {% if channel_info %}{%if channel_info.is_show%}checked="checked"{%endif%}{%endif%}/>正常</label>
                        <label><input type="radio" name="status_type" value="0" {% if channel_info %}{%if not channel_info.is_show%}checked="checked"{%endif%}{%endif%}/>停止</label>
                    </td>
                    <td>运营商：</td>
                    <td>
                        <label><input type="radio" name="operator" value="0" {% if channel_info %}{%if channel_info.operator == '0' %}checked="checked"{%endif%}{%endif%}/>中国移动</label>
                        <label><input type="radio" name="operator" value="1" {% if channel_info %}{%if channel_info.operator == '1' %}checked="checked"{%endif%}{%endif%}/>中国联通</label>
                        <label><input type="radio" name="operator" value="2" {% if channel_info %}{%if channel_info.operator == '2' %}checked="checked"{%endif%}{%endif%}/>中国电信</label>
                        <label><input type="radio" name="operator" value="3" {% if channel_info %}{%if channel_info.operator == '3' %}checked="checked"{%endif%}{%endif%}/>其他</label>
                    </td>
                </tr>
                <tr>
                    <td>产品类型：</td>
                    <td>
                        <select name="product" class="easyui-combobox">
                            <option selected="selected" value=''>--请选择--</option>
                            {% for product in products%}
                                {% if channel_info %}
                                    {% if product.id == channel_info.product_info.id %}
                                        <option value="{{product.id}}" selected="selected">[{{product.id}}]{{product.proname}}</option>
                                    {% else %}
                                        <option value="{{product.id}}">[{{product.id}}]{{product.proname}}</option>
                                    {%endif%}
                                {% else %}
                                    <option value="{{product.id}}">[{{product.id}}]{{product.proname}}</option>
                                {% endif %}
                            {% endfor%}
                        </select>
                    </td>
                    <td>指令类型：</td>
                    <td>
                        <label><input type="radio" {% if channel_info %}{%if channel_info.command_moduel == 0 %}checked="checked"{%endif%}{%endif%} name="command_moduel" value="0" {% if channel_info %}{%if channel_info.sx_type == 2 %}disabled="disabled"{%endif%}{%endif%}/>短指令</label>
                        <label><input type="radio" {% if channel_info %}{%if channel_info.command_moduel == 1 %}checked="checked"{%endif%}{%endif%} name="command_moduel" value="1" {% if channel_info %}{%if channel_info.sx_type == 2 %}disabled="disabled"{%endif%}{%endif%}/>长指令</label>
                        <label><input type="radio" {% if channel_info %}{%if channel_info.command_moduel == 2 %}checked="checked"{%endif%}{%endif%} name="command_moduel" value="2"/>不扩展</label>
                    </td>
                </tr>
                <tr>
                    <td>上行指令：</td>
                    <td><input class="easyui-textbox easyui-validatebox" type="text" {% if channel_info %}value="{{channel_info.sx}}"{%endif%} name="txt_sx" data-options="required:true"></input></td>
                    <td>上行端口：</td>
                    <td><input class="easyui-textbox easyui-validatebox" type="text" {% if channel_info %}value="{{channel_info.spnumber}}"{%endif%} name="txt_prot" data-options="required:true"></input></td>
                </tr>
            </table>
        </fieldset>
        <fieldset>
            <legend>资费设置</legend>
            <table>
                <tr>
                    <td width="80px">端口资费：</td>
                    <td>
                        <input class="easyui-textbox easyui-validatebox" type="text" name="txt_price" {% if channel_info %}value="{{channel_info.price}}"{%endif%} data-options="required:true"></input>
                    </td>
                    <td>接入单价：</td>
                    <td>
                        <input class="easyui-textbox easyui-validatebox" type="text" name="txt_costprice"  {% if channel_info %}value="{{channel_info.costprice}}"{%endif%} data-options="required:true"></input>
                    </td>
                </tr>
                <tr>
                    <td>分成单价：</td>
                    <td>
                        <input class="easyui-textbox easyui-validatebox" type="text" name="txt_fcpric" {% if channel_info %}value="{{channel_info.fcpric}}"{%endif%} data-options="required:true"></input>
                    </td>
                    <td>默认比例：</td>
                    <td>
                        <input class="easyui-textbox easyui-validatebox" style="width: 150px" name="txt_bl" {% if channel_info %}value="{{channel_info.bl}}"{%endif%} data-options="showTip:true">
                    </td>
                </tr>
                <tr>
                    <td>单号日限：</td>
                    <td>
                        <input class="easyui-textbox easyui-validatebox" type="text" name="txt_daymax" {% if channel_info %}value="{{channel_info.daymax}}"{%endif%} data-options="required:true"></input>
                    </td>
                    <td>单号月限：</td>
                    <td>
                        <input class="easyui-textbox easyui-validatebox" type="text" {% if channel_info %}value="{{channel_info.monmax}}"{%endif%} name="txt_monmax" data-options="required:true"></input>
                    </td>
                </tr>
            </table>
        </fieldset>
        <fieldset>
            <legend>地区配置</legend>
            <div class="easyui-tabs" style="height:330px; width: 700px" id="province_assign_panel">
          		<div title="地区选择" style="padding:10px">
          		    <table>
                    {%if channel_info%}
                    <tr>
                      <td width="80px">已开通省份：</td>
                      <td colspan="3" id="open_province_list">
                        {%for prov in channel_info.cha_province%}
                          <label id="lab_province{{prov.province_info.id}}">{{prov.province_info.province}}</label>
                        {%endfor%}
                        <hr />
                      </td>
                    </td>
                    <!--<tr>
                      <td width="80px">已屏蔽的城市：</td>
                      <td colspan="3">
                      </td>
                    </td>-->
                    {%endif%}
                    <tr>
                        <td width="80px">开通省份：</td>
                        <td colspan="3">
                        {%for province in provinces%}

                            <label><input name="province" type="checkbox" text="{{province.province}}" value="{{province.id}}"
                              {%if channel_info%}
                                {%for prov in channel_info.cha_province%}
                                  {%if prov.province_info.id == province.id%}
                                  checked="checked"
                                  {%endif%}
                                {%endfor%}
                              {%endif%}
                              />{{province.province}}</label>
                            {%if loop.index % 11 ==0 %}
                            <br />
                            {%endif%}
                        {%endfor%}

                        </td>
                    </tr>
                    <tr>
                        <td>下发语：</td>
                        <td colspan="3"><textarea class="easyui-textbox" data-options="multiline:true" name="content" style="width: 100%; height: 80px;">{% if channel_info %}{{channel_info.remark}}{%endif%}</textarea></td>
                    </tr>
                    <tr>
                        <td>备注：</td>
                        <td colspan="3"><textarea class="easyui-textbox" data-options="multiline:true" name="other_content" style="width: 100%; height: 50px;">{% if channel_info %}{{channel_info.content}}{%endif%}</textarea></td>
                    </tr>
                </table>
          		</div>
          		<div title="流量分配">
                  <table id="channel_province_dg" style="width:100%;height:auto;border:1px solid #ccc;" border="0" cellspacing="2" cellpadding="2" >
                    <thead style="height:25px; background-color:#ccc;color: #000000;" >
                        <tr>
                            <th data-options="field:'province'" width="80">开通省份</th>
                            <th data-options="field:'daymax'" width="20%">日限流量配额</th>
                            <th data-options="field:'remark'" width="40%">二次下发语</th>
                            <th data-options="field:'content'" width="30%">二次说明</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for prov in channel_info.cha_province%}
                          <tr id="province_row{{prov.province_info.id}}">
                              <td>{{prov.province_info.province}}</td>
                              <td><input type="text" name="daymax_{{prov.province_info.id}}"  style="width: 70px" value="{{prov.daymax}}" class="easyui-textbox" /></td>
                              <td><input type="text" name="remark_{{prov.province_info.id}}"  style="width: 250px" value="{{prov.remark}}" class="easyui-textbox" /></td>
                              <td><input type="text" name="content_{{prov.province_info.id}}"  style="width: 200px" value="{{prov.content}}" class="easyui-textbox" /></td>
                          </tr>
                        {%endfor%}
                    </tbody>
                </table>
              </div>
          		<div title="屏蔽地区">
                <table>
                  <tr>
                      <td>屏蔽地市：</td>
                      <td colspan="3">
                          <div id="channel_city">
                            {%for prov in channel_info.cha_province%}
                              <div id="cits_{{prov.province_info.id}}" style="line-height: 24px;">
                                {{prov.province_info.province}}:
                                {% set black_city = prov.city.split(',') %}
                                {% for city in prov.province_info.citys %}
                                  <label>
                                    <input type="checkbox" province="{{prov.province_info.id}}" value="{{city.id}}" name="city"
                                      {% for bl in black_city%}
                                        link="{{bl}}"
                                        {%if bl|int == city.id %}
                                        checked="checked"
                                        {% endif%}
                                      {% endfor %}
                                    />{{city.city}}</label>
                                {% endfor %}
                              </div>
                            {%endfor%}
                          </div>
                      </td>
                  </tr>
                </table>
              </div>
          	</div>
        </fieldset>
    </form>
    <div style="text-align:center;padding:5px">
        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="set_channel_moduel.submitForm()">保存</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="set_channel_moduel.clearForm()">取消</a>
    </div>
</div>
<script>
    var set_channel_moduel = {
        city_list: {{provinces_json|safe}},
        url: '{{action_url}}',
        submitForm: function() {
            $("#set_channel_Form").form('submit', {
                url: this.url,
                onSubmit: function() {
                    return $(this).form('validate');
                },
                success: function(result) {
                    var result = eval('('+result+')');
                    if (result.errorMsg){
                        $.messager.show({
                            title: 'Error',
                            msg: result.errorMsg
                        });
                    } else {
                        channel_manager.reloadData();
                        set_channel_moduel.clearForm();
                    }
                }
            });
        },
        clearForm: function() {
            closeTab('close');
        },
        eventBind: function() {
            $("input[name='province']").on('click', function() {
                var val = this.value;

                if(this.checked) {
                    if($('#cits_'+val).length > 0) {
                      return;
                    };
                    var _item_list = '<div id="cits_'+val+'" style="line-height: 24px;">'+$(this).attr('text')+': ';
                    var ctiys = set_channel_moduel.city_list[val][0];
                    for(var city in ctiys) {
                        _item_list += '<label><input type="checkbox" province="'+val+'" value="'+ctiys[city]['id']+'" name="city"/>'+ctiys[city]['name']+'</label>';
                    }
                    $("#channel_city").append(_item_list+"</div>");
                    $("#open_province_list").prepend('<label id="lab_province'+val+'">'+$(this).attr('text')+'</label> ');
                    $("#channel_province_dg tbody").append(['<tr id="province_row'+val+'">',
                        '<td>'+$(this).attr('text')+'</td>',
                        '<td><input type="text" name="daymax_'+val+'" value="0" /></td>',
                        '<td><input type="text" name="content_'+val+'"  style="width: 250px" value="" class="easyui-textbox" /></td>',
			'<td><input type="text" name="remark_'+val+'"  style="width: 200px" value="" class="easyui-textbox" /></td>',
                        '</tr>',].join(''));
                    $("#province_row"+val).find("input").textbox({
                      width: 70
                    });
                }else{
                    $('#cits_'+val).remove();
                    $("#lab_province"+val).remove();
                    $("#province_row"+val).remove();

                }
            });
            $("input[name='command_type']").on('click', function(e) {
              var command_type = $(this).val();
              if(command_type == '1') {
                $($("input[name='command_moduel']")[0]).removeAttr('disabled');
                $($("input[name='command_moduel']")[1]).removeAttr('disabled');
              }else{
                $($("input[name='command_moduel']")[0]).attr('disabled', 'disabled');
                $($("input[name='command_moduel']")[1]).attr('disabled', 'disabled');
                $($("input[name='command_moduel']")[2]).click();
              }
            });
            $("#province_assign_panel").tabs({
              onSelect: function(title) {
                if (title == '流量分配') {
                  //$("#channel_province_dg").datagrid();
                }
              }
            });
        },
        initialize: function(){
           this.eventBind();
        }
    };
    (function() {
        set_channel_moduel.initialize();
    })();
</script>
