<table id="channel_cover_datagrid" title="省份覆盖" class="easyui-datagrid" style="width:100;height:100;position: absolute" rownumbers="true" 
        fitColumns="true" 
        singleSelect="true">
    <thead>
        <tr>
            <th field="province" width="30">省份</th>
            <th field="channels" width="100" data-options="formatter: channel_cover.formatterChannel">开通通道</th>
        </tr>
    </thead>
</table>
<script>
var channel_cover={
    data:{{render_data|safe}} ,
    datagrid: $("#channel_cover_datagrid"),
    formatterChannel: function(val, row) {
        var _item = '';
        if(val.length>0) {
           
            for(var i in val) {
                 var _click = 'addTab(\'修改通道\', \'/channel/edit/'+val[i]['id']+'/\', \'icon-edit\');';
                _item += '<a href="javascript:'+_click+'">['+val[i]['id']+']'+val[i]['cha_name']+'</a> '
            }
        } else{
            _item = '暂无渠道支持'
        }
        return _item;
    },
    init: function() {
        this.datagrid.datagrid({'data': this.data});
    }
};
(function() {channel_cover.init();})();
</script>