<table id="channel_dg" title="渠道商列表" class="easyui-datagrid" style="width:100;height:100;position: absolute"
        url="/cooperate/channel/list/"
        toolbar="#channel_toolbar"
        pagination="true"
        rownumbers="true"
        fitColumns="true"
        singleSelect="true"
        pageSize="20"
        data-options="onClickRow: channel_list.onClickRow">
    <thead>
        <tr>
            <th field="id" width="20">id</th>
            <th field="loginname" width="50">用户名</th>
            <th field="name" width="50">渠道商</th>
            <th field="bank_info" width="100">银行信息</th>
            <th field="business" width="50">商务</th>
            <th field="is_show" data-options="formatter: channel_list.formatStatus" width="50">合作状态</th>
            <th field="create_time" width="50" data-options="formatter: channel_list.formatterDate">合作时间</th>
        </tr>
    </thead>
</table>
<div id="channel_toolbar">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="channel_list.newUser()">添加</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="channel_list.editUser()">修改</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="channel_list.enabledPartners()">合作(停/起)用</a>
    <a href="javascript:void(0)" class="easyui-linkbutton hide editbank" iconCls="icon-edit" plain="true" onclick="channel_list.editBank()">修改银行</a>
    <a href="javascript:void(0)" class="easyui-linkbutton hide editaccount" iconCls="icon-edit" plain="true" onclick="channel_list.editAccount()">修改账号</a>
</div>
<div id="window_CpInfo" class="easyui-dialog" style="width:500px;height:545px;padding:10px 20px" closed="true" modal="true">
    <div>
        <form id="window_CpInfo_Form" method="post">
            <fieldset id="cp_base_item">
                <legend>基本信息</legend>
                <table>
                    <tr>
                        <td>渠道商名称：</td>
                        <td><input class="easyui-validatebox" type="text" name="name" data-options="required:true" /></td>
                        <td>商务跟进：</td>
                        <td>
                            <select class="easyui-combobox" name="business">
                            {%for admin in admins%}
                                <option value="{{admin.id}}">{{admin.realname}}</option>
                            {%endfor%}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>联系人：</td>
                        <td><input class="easyui-validatebox" type="text" name="link_name" /></td>
                        <td>电话号码：</td>
                        <td><input class="easyui-validatebox" type="text" name="link_phone" /></td>
                    </tr>
                    <tr>
                        <td>QQ：</td>
                        <td><input class="easyui-validatebox" type="text" name="link_qq" /></td>
                        <td>Email：</td>
                        <td><input class="easyui-validatebox" type="text" name="link_email" /></td>
                    </tr>
                    <tr>
                        <td>地址：</td>
                        <td colspan="3"><textarea name="link_address" style="width: 315px;"></textarea></td>
                    </tr>
                    <tr>
                        <td>合作状态：</td>
                        <td colspan="3"><input type="checkbox" value="1" name="is_show" data-options="required:true"/></td>
                    </tr>
                    <tr>
                        <td>备注：</td>
                        <td colspan="3"><textarea name="content" style="width: 315px"></textarea></td>
                    </tr>
                </table>
            </fieldset>
            <fieldset id="cp_account_item">
                <legend>账号信息</legend>
                <table>
                    <tr>
                        <td>登录账号：</td>
                        <td><input class="easyui-validatebox" type="text" name="txt_loginname" data-options="required:true" /></td>
                        <td>登录密码：</td>
                        <td>
                            <input class="easyui-validatebox" type="password" name="txt_loginpwd" data-options="required:true" />
                        </td>
                    </tr>
                </table>
            </fieldset>
            <fieldset id="cp_bankinfo_item">
                <legend>银行卡信息</legend>
                <table>
                    <tr>
                        <td>开户名：</td>
                        <td><input class="easyui-validatebox" type="text" name="bank_name" data-options="required:true" /></td>
                        <td>开户人：</td>
                        <td>
                            <input class="easyui-validatebox" type="text" name="bank_username" data-options="required:true" />
                        </td>
                    </tr>
                    <tr>
                        <td>卡号：</td>
                        <td colspan="3">
                            <input class="easyui-validatebox" type="text" name="bank_card" data-options="required:true" style='width: 315px;' />
                        </td>
                    </tr>
                    <tr>
                        <td>是否启用：</td>
                        <td colspan="3"><label for="bank_is_show"><input type="checkbox" value="1" name="bank_is_show"/></label>是</td>
                    </tr>
                    <tr>
                        <td>备注：</td>
                        <td colspan="3"><textarea name="bank_content" style="width: 315px"></textarea></td>
                    </tr>
                </table>
            </fieldset>
        </form>
        <div style="text-align:center;padding:5px">
            <a href="javascript:void(0)" class="easyui-linkbutton" onclick="channel_list.saveUser()">保存</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" onclick="channel_list.clearForm()">取消</a>
        </div>
    </div>
</div>
<script type="text/javascript">
    var channel_list = {
        url: '',
        newUser: function() {

            $('.editbank').hide();
            $('.editaccount').hide();
            $('#window_CpInfo').dialog('open').dialog('setTitle','添加渠道商');
            $("#cp_account_item").show();
            $("#cp_bankinfo_item").show();
            $("#cp_base_item").show();
            $('#window_CpInfo').css('height', '545px');
            $('#window_CpInfo_Form').form('clear');
            this.url = '/cooperate/cpinfo/add/';
        },
        editBank: function() {
            var row = $('#channel_dg').datagrid('getSelected');
            if (row){
                $("#cp_base_item").hide();
                $("#cp_account_item").hide();
                $("#cp_bankinfo_item").show();
                $('#window_CpInfo').css('height', '205px');
                $('#window_CpInfo').dialog('open').dialog('setTitle','修改渠道商银行信息');
                $('#window_CpInfo_Form').form('load','/cooperate/cpinfo/'+row.id+'/');
                this.url = '/cooperate/cpinfo/edit/'+row.id+'/?type=bank';
                if(row.is_show) {
                  this._checkbox = $('#window_CpInfo_Form').find("input[name='is_show']")[0];
                  $(this._checkbox).attr('checked', true);
                }
            }
        },
        editAccount: function() {
            var row = $('#channel_dg').datagrid('getSelected');
            if (row){
                $("#cp_base_item").hide();
                $("#cp_account_item").show();
                $("#cp_bankinfo_item").hide();
                $('#window_CpInfo').css('height', '135px');
                $('#window_CpInfo').dialog('open').dialog('setTitle','修改渠道商账号信息');
                $('#window_CpInfo_Form').form('load','/cooperate/cpinfo/'+row.id+'/');
                this.url = '/cooperate/cpinfo/edit/'+row.id+'/?type=account';
                if(row.is_show) {
                  this._checkbox = $('#window_CpInfo_Form').find("input[name='is_show']")[0];
                  $(this._checkbox).attr('checked', true);
                }
            }
        },
        editUser: function() {
            var row = $('#channel_dg').datagrid('getSelected');
            if (row){

                $("#cp_account_item").hide();
                $("#cp_bankinfo_item").hide();
                $('#window_CpInfo').css('height', '305px');
                $('#window_CpInfo').dialog('open').dialog('setTitle','修改渠道商信息');
                $('#window_CpInfo_Form').form('load','/cooperate/cpinfo/'+row.id+'/');
                this.url = '/cooperate/cpinfo/edit/'+row.id+'/';
                if(row.is_show) {
                  this._checkbox = $('#window_CpInfo_Form').find("input[name='is_show']")[0];
                  $(this._checkbox).attr('checked', true);
                }
            }
        },
        clearForm: function() {
            $('.editbank').hide();
            $('.editaccount').hide();
            $('#window_CpInfo').dialog('close');        // close the dialog
        },
        saveUser: function() {
            $('#window_CpInfo_Form').form('submit',{
                url: this.url,
                onSubmit: function(){
                    return $(this).form('validate');
                },
                success: function(result){
                    var result = eval('('+result+')');
                    if (result.errorMsg){
                        $.messager.show({
                            title: 'Error',
                            msg: result.errorMsg
                        });
                    } else {
                        channel_list.clearForm();
                        $('#channel_dg').datagrid('reload');    // reload the user data
                    }
                }
            });
        },
        enabledPartners: function() {
            var row = $('#channel_dg').datagrid('getSelected');
            if (row){
                $.messager.confirm('Confirm','是否对'+row.name+'进行合作设置?',function(r){
                    if (r){
                        $.post('/cooperate/cpinfo/partner/',{id:row.id},function(result){
                            if (result.ok){
                                $('#channel_dg').datagrid('reload');    // reload the user data
                                $('.editbank').hide();
                                $('.editaccount').hide();
                            } else {
                                $.messager.show({    // show error message
                                    title: 'Error',
                                    msg: result.errorMsg
                                });
                            }
                        },'json');
                    }
                });
            }
        },
        formatStatus: function(val, row) {
            if (val) {
                return '<span class="icon icon-ok">&nbsp;</span>'
            }else {
                return '<span class="icon icon-error">&nbsp;</span>'
            }
        },
        formatterDate: function(val, row) {
            var date = new Date(val);
            return date.getFullYear() + '年' + (date.getMonth() + 1) + '月' + date.getDate()+'日 '+date.getUTCHours()+':'+date.getUTCMinutes()+':'+date.getSeconds();
        },
        onClickRow: function(index) {
          if (index>=0) {
            $('.editbank').show().css('visibility', 'visible');
            $('.editaccount').show().css('visibility', 'visible');;
          }
          console.log(index);
        }

    };
</script>
