<div title="合作方汇总" class="easyui-panel">
    <div fit="true">
        <div data-options="region:'north',split:false" style="height: 30px;padding:6px;" border="false">
        <!--高级查询部分-->
        <table border="0" cellspacing="0" cellpadding="0" width="100%">
            <tr>
                <th>开始时间:</th>
                <td>
                    <input class="easyui-datebox" type="text" id="start_time{{random_key}}"/>
                </td>
                <th>结束时间:</th>
                <td>
                    <input class="easyui-datebox"type="text" id="end_time{{random_key}}" />
                </td>

                <th>通道:</th>
                <td>
                    <select id="channel{{random_key}}" class="easyui-combobox">
                        <option selected="selected" value=''>--请选择--</option>
                        {%for channel in channels%}
                        <option value="{{channel.id}}">{{channel.cha_name}}</option>
                        {%endfor%}
                    </select>
                </td>
                <th>合作方(SP):</th>
                <td>
                    <select id="sp{{random_key}}" class="easyui-combobox">
                        <option selected="selected" value=''>--请选择--</option>
                        {% for sp_info in sp_info_list %}
                        <option value="{{sp_info.id}}">[{{sp_info.id}}]{{sp_info.name}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td align="right">
                    <a class="easyui-linkbutton" data-options="iconCls:'icon-search'" src="javascript:;" onclick="financial_cooperate_summary_manager.queryData()" plain="true">查询</a>
                </td>
            </tr>
        </table>
        </div>
        <div data-options="region:'center',split:false"  border="false">
            <table id="financial_cooperate_summary_list_dg" class="easyui-datagrid" style="width:100;height:100;position: absolute"
                    url="/financial/cooperate/summary/"
                    pagination="true"
                    rownumbers="true"
                    fitColumns="true"
                    singleSelect="true"
                    loadMsg='数据加载中,请稍候...'
                    pageSize="20">
                <thead>
                    <tr>
                        <th field="sp" width="15">合作方（SP）</th>
                        <th field="channel_name" width="50">通道名称</th>
                        <th field="costprice" width="40">资费</th>
                        <th field="count" width="40">条数</th>
                        <th field="price" width="30">单价</th>
                        <th field="total" width="50">金额</th>
                        <th field="date_time" width="50" data-options="formatter: financial_cooperate_summary_manager.formatterDate">时间周期</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<script>
var financial_cooperate_summary_manager = {
    url: '',
    datagrid: $('#financial_cooperate_summary_list_dg'),
    reloadData: function() {
        this.datagrid.datagrid('load')
    },
    formatStatus: function(val, row) {
        if (val) {
            return '<span class="icon icon-ok">&nbsp;</span>已开通'
        }else {
            return '<lable style="color:red"><span class="icon icon-error">&nbsp;</span>已暂停</label>'
        }
    },
    formatterDate: function(val, row) {
        var date = new Date(val);
        return date.getFullYear() + '年' + (date.getMonth() + 1) + '月' + date.getDate()+'日 '+date.getUTCHours()+':'+date.getUTCMinutes()+':'+date.getSeconds();
    },
    formatCommand: function(val, row) {
        val = parseInt(val);
        switch(val){
            case 0:
                return '模糊';
            case 1:
                return '模糊+精确';
            case 2:
                return '双精确';
        }
    },
    queryData: function() {
        var req_data = {
          'start_time': $("#start_time{{random_key}}").datetimebox("getValue"),
          'end_time': $("#end_time{{random_key}}").datetimebox("getValue"),
          'channel': $('#channel{{random_key}}').combobox('getValue'),
          'sp': $("#sp{{random_key}}").combobox('getValue')
        };
        this.datagrid.datagrid('load', req_data)
    },
    clearQuery: function() {

    }
}
</script>
