<div title="合作方明细" class="easyui-panel">
    <div fit="true">
        <div data-options="region:'north',split:false" style="height: 30px;padding:6px;" border="false">
        <!--高级查询部分-->
        <table border="0" cellspacing="0" cellpadding="0" width="100%">
            <tr>
                <th>开始时间:</th>
                <td>
                    <input class="easyui-datebox" type="text" name="start_time" id="start_time{{random_key}}" value="{{regdate}}"/>
                </td>
                <th>结束时间:</th>
                <td>
                    <input class="easyui-datebox"type="text" name="end_time" id="end_time{{random_key}}" value="{{regdate}}"/>
                </td>

                <th>通道:</th>
                <td>
                    <select id="channels{{random_key}}" name="channel" class="easyui-combobox">
                        <option selected="selected" value=''>--请选择--</option>
                        {%for channel in channels%}
                        <option value="{{channel.id}}">[{{channel.id}}]{{channel.cha_name}}</option>
                        {%endfor%}
                    </select>
                </td>
                <th>合作方:</th>
                <td>
                    <select id="spinfo{{random_key}}" name="sp" class="easyui-combobox">
                        <option selected="selected" value=''>--请选择--</option>
                        {% for sp_info in sp_info_list %}
                        <option value="{{sp_info.id}}">[{{sp_info.id}}]{{sp_info.name}}</option>
                        {% endfor %}
                    </select>
                </td>
                <!--<th>状态:</th>
                <td>
                    <select id="sp_id" class="easyui-combobox">
                        <option selected="selected" value=''>--请选择--</option>
                    </select>
                </td>-->
                <td align="right">
                    <a class="easyui-linkbutton" data-options="iconCls:'icon-search'" src="javascript:;" onclick="financial_cooperate_manager.queryData()" plain="true">查询</a>
                </td>
            </tr>
        </table>
        </div>
        <div data-options="region:'center',split:false"  border="false">
            <table id="financial_cooperate_list_dg" class="easyui-datagrid" style="width:100;height:100;position: absolute"
                    url="/financial/cooperate/detail/"
                    toolbar="#financial_cooperate_list_toolbar"
                    pagination="true"
                    rownumbers="true"
                    fitColumns="true"
                    singleSelect="true"
                    loadMsg='数据加载中,请稍候...'
                    pageSize="20">
                <thead>
                    <tr>
                        <th field="regdate" width="25">日期</th>
                        <th field="spname" width="50">合作方(SP)</th>
                        <th field="channel" width="40">通道名称</th>
                        <th field="price" width="40">资费（元）</th>
                        <th field="costprice" width="40">单价（元）</th>
                        <th field="count" width="30">条数</th>
                        <th field="total" width="30">金额</th>
                        <!--<th field="sx_type" width="40" data-options="formatter: financial_cooperate_manager.formatCommand">状态</th>-->
                    </tr>
                </thead>
            </table>
            <div id="financial_cooperate_list_toolbar">
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="financial_cooperate_manager.update(1)">单价调整</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="financial_cooperate_manager.update(2)">对账</a>
            </div>
        </div>
    </div>
</div>
<script>
var financial_cooperate_manager = {
    url: '',
    datagrid: $('#financial_cooperate_list_dg'),
    update: function(types) {

    },
    queryData: function() {
      var req_data = {
        start_time: $("#start_time{{random_key}}").datetimebox("getValue"),
        end_time: $("#end_time{{random_key}}").datetimebox("getValue"),
        channel: $("#channels{{random_key}}").combobox("getValue"),
        sp: $("#spinfo{{random_key}}").combobox("getValue")
      };
      this.datagrid.datagrid('load', req_data)
    }
}
</script>
