<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>Custom Login Form Styling</title>
        <meta name="description" content="Custom Login Form Styling with CSS3" />
        <meta name="keywords" content="css3, login, form, custom, input, submit, button, html5, placeholder" />
        <meta name="author" content="Codrops" />
        <link rel="shortcut icon" href="../favicon.ico"> 
        <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
        <script src="/static/lib/modernizr.custom.63321.js"></script>
        <!--[if lte IE 7]><style>.main{display:none;} .support-note .note-ie{display:block;}</style><![endif]-->
        <style>
            body {
                background: #e1c192 url(/static/images/wood_pattern.jpg);
            }
        </style>
    </head>
    <body>
        <div class="container">
            <header>
            
                <h1>用户 <strong>登录</strong></h1>
                <h2>请输入您的登录信息</h2>

                <div class="support-note">
                    <span class="note-ie">Sorry, only modern browsers.</span>
                </div>
                
            </header>
            
            <section class="main">
                <form class="form-2" action="/login/" method="POST">
                    <h1><span class="log-in">Log in</span> or <span class="sign-up">sign up</span></h1>
                    <p class="float">
                        <label for="login"><i class="icon-user"></i>账号</label>
                        <input type="text" name="username" placeholder="Username or email">
                    </p>
                    <p class="float">
                        <label for="password"><i class="icon-lock"></i>密码</label>
                        <input type="password" name="password" placeholder="Password" class="showpassword">
                    </p>
                    <p class="clearfix"> 
                        <a href="#" class="log-twitter">忘记密码</a>    
                        <input type="submit" name="submit" value="登录">
                    </p>
                </form>​​
            </section>
            
        </div>
        <!-- jQuery if needed -->
        <script type="text/javascript" src="/static/lib/jquery.min.js"></script>
        <script type="text/javascript">
            $(function(){
                $(".showpassword").each(function(index,input) {
                    var $input = $(input);
                    $("<p class='opt'/>").append(
                        $("<input type='checkbox' class='showpasswordcheckbox' id='showPassword' />").click(function() {
                            var change = $(this).is(":checked") ? "text" : "password";
                            var rep = $("<input placeholder='Password' type='" + change + "' />")
                                .attr("id", $input.attr("id"))
                                .attr("name", $input.attr("name"))
                                .attr('class', $input.attr('class'))
                                .val($input.val())
                                .insertBefore($input);
                            $input.remove();
                            $input = rep;
                         })
                    ).append($("<label for='showPassword'/>").text("Show password")).insertAfter($input.parent());
                });

                $('#showPassword').click(function(){
                    if($("#showPassword").is(":checked")) {
                        $('.icon-lock').addClass('icon-unlock');
                        $('.icon-unlock').removeClass('icon-lock');    
                    } else {
                        $('.icon-unlock').addClass('icon-lock');
                        $('.icon-lock').removeClass('icon-unlock');
                    }
                });
            });
        </script>
    </body>
</html>