<div title="各省分析" class="easyui-panel">
    <div fit="true">
        <div data-options="region:'north',split:false" style="height: 30px;padding:6px;" border="false">
        <!--高级查询部分-->
        <table border="0" cellspacing="0" cellpadding="0" width="100%">
            <tr>
                <th>时间:</th>
                <td><input class="easyui-datebox" type="text"/></td>
                <td align="right">
                    <a class="easyui-linkbutton" data-options="iconCls:'icon-search'" src="javascript:;" onclick="operator_purpose_manange.queryData()" plain="true">查询</a>
                    <a class="easyui-linkbutton" data-options="iconCls:'icon-remove'" src="javascript:;" onclick="operator_purpose_manange.clearQuery()" plain="true">清空</a>
                </td>
            </tr>
        </table>
        </div>
        <div data-options="region:'center',split:false"  border="false">
             <div id="graphic" class="span8">
                <div id="graphic_purpose_main" class="main" style="height:400px"></div>
                <div>
            </div>
        </div>
    </div>
</div>
<script>
// 路径配置
require.config({
    paths:{
        'echarts' : 'http://echarts.baidu.com/build/echarts',
        'echarts/chart/bar' : 'http://echarts.baidu.com/build/echarts'
    }
});

// 使用
require(
    [
        'echarts',
        'echarts/chart/bar' // 使用柱状图就加载bar模块，按需加载
    ],
    function(ec) {
        // 基于准备好的dom，初始化echarts图表
        var myChart = ec.init(document.getElementById('graphic_purpose_main'));
        var option = {
              title : {
                  text: '各省分析',
                  subtext: '2014-10-24'
              },
              tooltip : {
                  trigger: 'axis'
              },
              legend: {
                  data:['上行','定制','转化率(%)','T-定制', 'T-转化率(%)']
              },
              toolbox: {
                  show : true,
                  feature : {
                      mark : {show: true},
                      dataView : {show: true, readOnly: false},
                      magicType : {show: true, type: ['line', 'bar']},
                      restore : {show: true},
                      saveAsImage : {show: true}
                  }
              },
              calculable : true,
              xAxis : [
                  {
                      type : 'category',
                      boundaryGap : false,
                      data : ['西藏',
                              '青海',
                              '宁夏',
                              '海南',
                              '甘肃',
                              '贵州',
                              '新疆',
                              '云南',
                              '重庆',
                              '吉林',
                              '山西',
                              '天津',
                              '江西',
                              '广西',
                              '陕西',
                              '黑龙江',
                              '内蒙古',
                              '安徽',
                              '北京',
                              '福建',
                              '上海',
                              '湖北',
                              '湖南',
                              '四川',
                              '辽宁',
                              '河北',
                              '河南',
                              '浙江',
                              '山东',
                              '江苏',
                              '广东']
                  }
              ],
              yAxis : [
                  {
                      type : 'value',
                      axisLabel : {
                          formatter: '{value} %'
                      }
                  }
              ],
              series : [
                  {
                      name:'上行',
                      type:'line',
                      data:[21, 8, 7, 8, 8, 25, 41, 97, 1228, 625, 341, 266, 269, 183, 380, 304, 307, 458, 241, 237, 324, 313, 389, 43],
                      markPoint : {
                          data : [
                              {type : 'max', name: '最大值'},
                              {type : 'min', name: '最小值'}
                          ]
                      },
                      markLine : {
                          data : [
                              {type : 'average', name: '平均值'}
                          ]
                      }
                  },
                  {
                      name:'定制',
                      type:'line',
                      data:[18, 7, 6, 7, 43, 34, 345, 567, 4228, 525, 641, 266, 269, 183, 380, 304, 307, 458, 241, 237, 324, 313, 389, 43],
                      markPoint : {
                          data : [
                              {type : 'max', name: '最大值'},
                              {type : 'min', name: '最小值'}
                          ]
                      },
                      markLine : {
                          data : [
                              {type : 'average', name: '平均值'}
                          ]
                      }
                  },
                  {
                      name:'转化率(%)',
                      type:'line',
                      data:[21, 8, 7, 8, 8, 25, 41, 97, 1228, 625, 341, 266, 269, 183, 380, 304, 307, 458, 241, 237, 324, 313, 389, 43],
                      markPoint : {
                          data : [
                              {type : 'max', name: '最大值'},
                              {type : 'min', name: '最小值'}
                          ]
                      },
                      markLine : {
                          data : [
                              {type : 'average', name: '平均值'}
                          ]
                      }
                  },
                  {
                      name:'T-定制',
                      type:'line',
                      data:[21, 8, 7, 8, 8, 25, 41, 97, 1228, 625, 341, 266, 269, 183, 380, 304, 307, 458, 241, 237, 324, 313, 389, 43],
                      markPoint : {
                          data : [
                              {type : 'max', name: '最大值'},
                              {type : 'min', name: '最小值'}
                          ]
                      },
                      markLine : {
                          data : [
                              {type : 'average', name: '平均值'}
                          ]
                      }
                  },
                  {
                      name:'T-转化率(%)',
                      type:'line',
                      data:[21, 8, 7, 8, 8, 25, 41, 97, 1228, 625, 341, 266, 269, 183, 380, 304, 307, 458, 241, 237, 324, 313, 389, 43],
                      markPoint : {
                          data : [
                              {type : 'max', name: '最大值'},
                              {type : 'min', name: '最小值'}
                          ]
                      },
                      markLine : {
                          data : [
                              {type : 'average', name: '平均值'}
                          ]
                      }
                  }
              ]
          };

        // 为echarts对象加载数据
        myChart.setOption(option);
    }
);

var operator_purpose_manange = {
    url: '',
    datagrid: $('#operator_exploits_list_dg'),
    formatStatus: function(val, row) {
        if (val) {
            return '<span class="icon icon-ok">&nbsp;</span>已开通'
        }else {
            return '<lable style="color:red"><span class="icon icon-error">&nbsp;</span>已暂停</label>'
        }
    },
    formatterDate: function(val, row) {
        var date = new Date(val);
        return date.getFullYear() + '年' + (date.getMonth() + 1) + '月' + date.getDate()+'日 '+date.getUTCHours()+':'+date.getUTCMinutes()+':'+date.getSeconds();
    },
    formatCommand: function(val, row) {
        val = parseInt(val);
        switch(val){
            case 0:
                return '模糊';
            case 1:
                return '模糊+精确';
            case 2:
                return '双精确';
        }
    },
    queryData: function() {
        var req_data = {'channel_id': $('#channel_id').combobox('getValue'),
           'sp_id': $("#sp_id").combobox('getValue'),
           'product_id': $("#product_id").combobox('getValue'),
           'operator_id': $("#operator_id").combobox('getValue'),
           'busi_type': $("#busi_type").combobox('getValue'),
           'area': $("#area").combobox('getValue')
        };
        this.datagrid.datagrid('load', req_data)
    },
    clearQuery: function() {

    }
};
</script>
