<table id="dg" title="运营商列表" class="easyui-datagrid" style="width:100;height:100;position: absolute"
        url="/cooperate/operator/list/"
        toolbar="#toolbar" 
        pagination="true"
        rownumbers="true" 
        fitColumns="true" 
        singleSelect="true"
        pageSize="20">
    <thead>
        <tr>
            <th field="id" width="50">id</th>
            <th field="name" width="50">运营商名称</th>
            <th field="link_name" width="50">Phone</th>
            <th field="link_phone" width="50">Phone</th>
            <th field="link_qq" width="50">QQ</th>
            <th field="link_email" width="50">Email</th>
            <th field="link_address" width="50">地址</th>
            <th field="is_show" data-options="formatter: operator_list.formatStatus" width="50">合作状态</th>
            <th field="content" width="50">备注</th>
        </tr>
    </thead>
</table>
<div id="toolbar">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="operator_list.newUser()">添加</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="operator_list.editUser()">修改</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="operator_list.destroyUser()">删除</a>
</div>

<div id="dlg" class="easyui-dialog" style="width:400px;height:280px;padding:10px 20px"
        closed="true" buttons="#dlg-buttons">
    <div class="ftitle">User Information</div>
    <form id="fm" method="post" novalidate>
        <div class="fitem">
            <label>First Name:</label>
            <input name="firstname" class="easyui-validatebox" required="true">
        </div>
        <div class="fitem">
            <label>Last Name:</label>
            <input name="lastname" class="easyui-validatebox" required="true">
        </div>
        <div class="fitem">
            <label>Phone:</label>
            <input name="phone">
        </div>
        <div class="fitem">
            <label>Email:</label>
            <input name="email" class="easyui-validatebox" validType="email">
        </div>
    </form>
</div>
<div id="dlg-buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick="operator_list.saveUser()">Save</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">Cancel</a>
</div>
<script type="text/javascript">
    var operator_list = {
        url: '',
        newUser: function() {
            $('#dlg').dialog('open').dialog('setTitle','New User');
            $('#fm').form('clear');
            this.url = 'save_user.php';
        },
        editUser: function() {
            var row = $('#dg').datagrid('getSelected');
            if (row){
                $('#dlg').dialog('open').dialog('setTitle','Edit User');
                $('#fm').form('load',row);
                url = 'update_user.php?id='+row.id;
            }
        },
        saveUser: function() {
            $('#fm').form('submit',{
                url: this.url,
                onSubmit: function(){
                    return $(this).form('validate');
                },
                success: function(result){
                    var result = eval('('+result+')');
                    if (result.errorMsg){
                        $.messager.show({
                            title: 'Error',
                            msg: result.errorMsg
                        });
                    } else {
                        $('#dlg').dialog('close');        // close the dialog
                        $('#dg').datagrid('reload');    // reload the user data
                    }
                }
            });
        },
        destroyUser: function() {
            var row = $('#dg').datagrid('getSelected');
            if (row){
                $.messager.confirm('Confirm','Are you sure you want to destroy this user?',function(r){
                    if (r){
                        $.post('destroy_user.php',{id:row.id},function(result){
                            if (result.success){
                                $('#dg').datagrid('reload');    // reload the user data
                            } else {
                                $.messager.show({    // show error message
                                    title: 'Error',
                                    msg: result.errorMsg
                                });
                            }
                        },'json');
                    }
                });
            }
        },
        formatStatus: function(val, row) {
            console.log(val);
            if (val) {
                return '<span class="icon icon-ok">&nbsp;</span>'
            }else {
                return '<span class="icon icon-error">&nbsp;</span>'
            }
        }
    };    
</script>