<div title="状态报告" class="easyui-panel">
    <div fit="true">
        <div data-options="region:'north',split:false" style="height: 75px;padding:6px;overflow:hidden;" border="false">
        <!--高级查询部分-->
        <table border="0" cellspacing="0" cellpadding="0" width="90%">
            <tr>
                <th>开始时间:</th>
                <td><input class="easyui-datebox" type="text" style="width:95px" name="start_time" id="start_time{{random_key}}" value='{{curr_date}}'/></td>
                <th>结束时间:</th>
                <td><input class="easyui-datebox" type="text" style="width:95px" name="end_time" id="end_time{{random_key}}" value='{{curr_date}}'/></td>
                <th>通道:</th>
                <td>
                    <select name="channel" id="channel{{random_key}}" style="width: 70px">
                        <option selected="selected" value=''>--请选择--</option>
                        {%for channel in channels%}
                        <option value="{{channel.id}}">[{{channel.id}}]{{channel.cha_name}}</option>
                        {%endfor%}
                    </select>
                </td>
                <th>渠道:</th>
                <td width="90">
                    <select name="cpinfo" id="cpinfo{{random_key}}" style="width: 70px">
                        <option selected="selected" value=''>--请选择--</option>
                        {% for cp_info in cp_info_list %}
                        <option value="{{cp_info.id}}">[{{cp_info.id}}]{{cp_info.name}}</option>
                        {% endfor %}
                    </select>
                </td>
                <th>省份:</th>
                <td>
                    <select name="provinces" id="provinces{{random_key}}" style="width: 70px">
                        <option selected="selected" value=''>--请选择--</option>
                        {% for province in provinces %}
                        <option value="{{province.id}}">{{province.province}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th>比例:</th>
                <td>
                    <select name="is_kill" id="is_kill{{random_key}}" style="width: 70px">
                        <option selected="selected" value=''>--请选择--</option>
                        <option value="0">正常</option>
                        <option value="1">扣点</option>
                    </select>
                </td>
                <th>状态:</th>
                <td>
                    <select name="status" id="status{{random_key}}" style="width: 70px">
                        <option selected="selected" value=''>--请选择--</option>
                        <option value="1">正常</option>
                        <option value="0">失败</option>
                    </select>
                </td>
                <th>商务:</th>
                <td>
                    <select  name="users" id="users{{random_key}}" style="width: 70px">
                        <option selected="selected" value=''>--请选择--</option>
                        {% for user in users %}
                        <option value="{{user.id}}">[{{user.id}}]{{user.realname}}</option>
                        {% endfor %}
                    </select>
                </td>
                <th>类型:</th>
                <td colspan="4">
                    <select name="types" id="types{{random_key}}" style="width: 70px">
                        <option selected="selected" value=''>--请选择--</option>
                        <option selected="selected" value="Mobile">号码</option>
                        <option value="SX">指令</option>
                        <option value="SPNumber">端口</option>
                        <option value="City">城市</option>
                        <option value="LinkID">LinkID</option>
                    </select>
                    <input class="easyui-textbox" name="query_value" style="width: 160px"/>
                </td>
                <td>
                    <a class="easyui-linkbutton" data-options="iconCls:'icon-search'" src="javascript:;" id="btn_query{{random_key}}" plain="true">查询</a>
                </td>
            </tr>
            <tr>
                <td colspan="20" id="list_info{{random_key}}">
                    总条数： --(条) 渠道： --（个） 用户： --（个） 成功： --（条） 失败： --（条） 同步： --（条）
                </td>
            </tr>
        </table>
        </div>
        <div data-options="region:'center',split:false"  border="false">
            <table id="operator_status_list_dg" style="width:100;height:100;position: absolute">
                <thead>
                    <tr>
                        <th data-options="field:'id',checkbox:true"></th>
                        <th field="sp" width="45">合作方</th>
                        <th field="cp" width="40" >渠道商</th>
                        <th field="channel" width="50">通道</th>
                        <th field="mobile" width="40">手机号码</th>
                        <th field="momsg" width="40">指令/时长</th>
                        <th field="spnumber" width="40">端口号</th>
                        <th field="linkid" width="50">LinkID</th>
                        <th field="city" width="50">归属地</th>
                        <th field="create_time" width="40" data-options="formatter: this.formatterDate">定制时间</th>
                        <th field="is_kill" width="20">扣量|状态</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<script>
(function() {
    var operator_status_manange = {
        url: '',
        datagrid: $('#operator_status_list_dg'),
        formatStatus: function(val, row) {
            console.log(val);
            if (val) {
                return '已同步'
            }else {
                return '<lable style="color:red">正在同步</lable>'
            }
        },
        formatKillVal: function(val, row) {
            switch(val) {
              case 0:
                return '<span style="color:chartreuse">下发</span>|<span style="color:chartreuse">成功</span>';
              case 1:
                return '<span style="color:red">扣量|失败</span>'
              case 2:
                return '<span style="color:chocolate">屏蔽</span>'
              case 3:
                return '<span style="color:blueviolet">黑名单</span>'
              case 4:
                return '<span style="color:darkgreen">失败</span>'
              case 5:
                return '<span style="color:darkgreen">未发</span>|<span style="color:chartreuse">成功</span>'
              case -1:
                return '<span style="color:darkgreen">失败</span>|<span style="color:chartreuse">成功</span>'
            }
        },
        formatterDate: function(val, row) {
            var date = new Date(val);
            return date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate()+' '+date.getUTCHours()+':'+date.getUTCMinutes()+':'+date.getSeconds();
        },
        formatCommand: function(val, row) {
            val = parseInt(val);
            switch(val){
                case 0:
                    return '模糊';
                case 1:
                    return '模糊+精确';
                case 2:
                    return '双精确';
            }
        },
        queryData: function() {
            var req_data = {'start_time': $('#start_time{{random_key}}').datetimebox("getValue"),
               'end_time': $("#end_time{{random_key}}").datetimebox("getValue"),
               'channel': $("#channel{{random_key}}").val(),
               'cpinfo': $("#cpinfo{{random_key}}").val(),
               'provinces': $("#provinces{{random_key}}").val(),
               'is_kill': $("#is_kill{{random_key}}").val(),
               'status': $("#status{{random_key}}").val(),
               'users': $("#users{{random_key}}").val(),
               'types': $("#types{{random_key}}").val(),
               'values': $("input[name='query_value']").val()
            };
            this.datagrid.datagrid('load', req_data)
        },
        clearQuery: function() {

        },
        timer: null,
        initialize: function() {
            var _this = this;
            var queryBtn = $("#btn_query{{random_key}}");
            var list_info = $("#list_info{{random_key}}");
            window.clearInterval(this.timer);
            this.timer = window.setInterval(function() {
               if($('#operator_status_list_dg').length > 0){
                   _this.datagrid.datagrid('load');
               }else{
                  window.clearInterval(_this.timer);
               }
            }, 60000);
            /*
                <th data-options="field:'id',checkbox:true"></th>
                        <th field="sp" width="45">合作方</th>
                        <th field="channel" width="50">通道号</th>
                        <th field="mobile" width="40">手机号码</th>
                        <th field="momsg" width="40">指令/时长</th>
                        <th field="spnumber" width="30">端口号</th>
                        <th field="linkid" width="50">LinkID</th>
                        <th field="city" width="50">归属地</th>
                        <th field="cp" width="40" >渠道商</th>
                        <th field="create_time" width="50" data-options="formatter: this.formatterDate">定制时间</th>
                        <th field="is_kill" width="30">扣量状态</th>
            */
            this.datagrid.datagrid({
                url: '/operator/status/', 
                pagination:true, 
                pageSize: 50,
                pageNumber: 1,
                rownumbers: false, 
                fitColumns: true, 
                singleSelect: true, 
                selectOnCheck: false,
                loadMsg: '数据加载中,请稍候...',
                columns:[[
                    {field:'id', checkbox: true},
                    {field:'sp',title:'合作方',width:35},
                    {field:'cp',title:'渠道商',width: 35},
                    {field:'channel',title:'通道号',width:45},
                    {field:'mobile',title:'手机号码',width:40},
                    {field:'momsg',title:'指令/时长',width:40},
                    {field:'spnumber',title:'端口号',width:30},
                    {field:'linkid',title:'LinkID',width: 70},
                    {field:'city',title:'归属地',width: 35},
                    {field:'create_time',title:'定制时间',width: 50, formatter: this.formatterDate},
                    {field:'is_kill',title:'扣量状态',width: 30}
                ]],
                onLoadSuccess: function(r) {
                    var data = r.stats_data || false;
                    
                    if (data){
                        list_info.html("<p><b>总条数：</b> "+data.id_count+"<b>(条) 渠道： </b>"+data.channel_count+"<b>（个） 用户： </b>"+data.mobile_count+"<b>（个） 成功： </b><lable style='color: chartreuse'>"+data.status+"</lable><b>（条） 失败： </b><lable style='color: red'>"+data.error_count+"</lable><b>（条） 同步： </b><lable style='color: chartreuse'>"+data.cp_count+"</lable><b>（条）</b></p>");
                    }else{
                        list_info.html("<p>总条数： 0(条) 渠道： 0（个） 用户： 0（个） 成功： 0（条） 失败： 0（条） 同步： 0（条）</p>");
                    }
                },
                formatterDate: function(val, row) {
                    _this.formatterDate(val, row);
                }
            });
            queryBtn.on('click', function() {
                _this.queryData();
            });
        }
    };
    operator_status_manange.initialize();
})();
</script>
