<div title="效果分析" class="easyui-panel">
    <div fit="true">
        <div data-options="region:'north',split:false" style="height: 30px;padding:6px;" border="false">
        <!--高级查询部分-->
        <table border="0" cellspacing="0" cellpadding="0" width="40%">
            <tr>
                <th>时间:</th>
                <td><input class="easyui-datebox" type="text" id="txt_date{{random_key}}" value="{{regdate}}"/></td>
                <td align="right">
                    <a class="easyui-linkbutton" data-options="iconCls:'icon-search'" src="javascript:;" id="queryBtn{{random_key}}" plain="true">查询</a>
                </td>
            </tr>
        </table>
        </div>
        <div data-options="region:'center',split:false"  border="false">
             <table id="operator_purpose_list_dg" class="easyui-datagrid" style="width:100;height:100;position: absolute"
                    url="/operator/purpose/"
                    pagination="true"
                    rownumbers="true"
                    fitColumns="true"
                    singleSelect="true"
                    loadMsg='数据加载中,请稍候...'
                    pageSize="20">
                <thead>
                    <tr>
                        <th field="sp_info" width="25">合作方(SP)</th>
                        <th field="channel" width="30">通道名称</th>
                        <th field="mo_all" width="20">上行</th>
                        <th field="mr_all" width="20">定制</th>
                        <th field="conversion_rate" width="20">转化率(%)</th>
                        <th field="t_customize" width="20">T-定制</th>
                        <th field="t_conversion_rate" width="20">T-转化率(%)</th>
                        <th field="arpu" width="40">ARPU值</th>
                        <th field="into_rate" width="20">分成率(%)</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<script>

(function() {
    var operator_purpose_manange = {
        url: '',
        datagrid: $('#operator_purpose_list_dg'),
        queryData: function() {
            var req_data = {'date_time': $('#txt_date{{random_key}}').datetimebox('getValue')};
            this.datagrid.datagrid('load', req_data)
        },
        eventBind: function() {
            var queryBtn = $("#queryBtn{{random_key}}");
            var _this = this;
            queryBtn.on('click', function() {
                _this.queryData();
            });
        },
        initialize: function() {this.eventBind();}
    };
    operator_purpose_manange.initialize();
})();
</script>
