<table id="sys_log" title="操作日志列表" class="easyui-datagrid" style="width:100;height:100;position: absolute"
        url="/sys/log/"
        pagination="true"
        rownumbers="true" 
        fitColumns="true" 
        singleSelect="true"
        pageSize="20">
    <thead>
        <tr>
            <th field="id" width="50">id</th>
            <th field="admin" width="50">用户名</th>
            <th field="op_type" width="50">操作类别</th>
            <th field="op_title" width="50">描述</th>
            <th field="op_content" width="50">操作内容</th>
            <th field="create_time" width="50">操作时间</th>
        </tr>
    </thead>
</table>